.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* src/App.css or other custom CSS file */
.table, .table th, .table td {
  border: 1px solid black !important;
}


/* App.css or CreateProduct.css */
.container {
  max-width: 600px; /* Limit the container's width */
}

.form-group input,
.form-group textarea {
  max-width: 100%;
}

@media (max-width: 768px) {
  /* For small screens like mobile devices */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/* src/App.css or a separate CSS file */
.card {
  border-radius: 10px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits within the card */
  border-radius: 10px 0 0 10px;
}

.card-body {
  padding: 20px;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
